In [6]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
bert_features_df = pd.read_csv('results/BERT + features.csv', index_col = 0)
deberta_df = pd.read_csv('results/DeBERTa.csv', index_col = 0)
distilbert_df = pd.read_csv('results/DistilBERT.csv')
gpt2_df = pd.read_csv('results/GPT_2.csv')
gpt2_features_df = pd.read_csv('results/gpt-2 + features.csv', index_col = 0)

In [8]:
bert_features_df.head()

,Prompt-1,Prompt-2,Prompt-3,Prompt-4,Prompt-5,Prompt-6,Prompt-7,Prompt-8
BERT + LR,0.509,0.445,0.368,0.580,0.649,0.641,0.351,0.359
BERT + RF,0.771,0.644,0.711,0.759,0.810,0.744,0.667,0.534
BERT + Adaboost,0.659,0.644,0.649,0.725,0.704,0.609,0.496,0.558
BERT + KNN,0.354,0.281,0.133,0.258,0.372,0.540,0.187,0.213
BERT + SVC,0.318,0.423,0.617,0.528,0.537,0.370,0.381,0.000

In [9]:
deberta_df.head()

,Prompt-1,Prompt-2,Prompt-3,Prompt-4,Prompt-5,Prompt-6,Prompt-7,Prompt-8
DeBERTa + LR,0.795,0.636,0.652,0.760,0.804,0.721,0.714,0.555
DeBERTa + RF,0.786,0.600,0.693,0.742,0.825,0.719,0.707,0.449
DeBERTa + Adaboost,0.497,0.537,0.613,0.725,0.746,0.590,0.499,0.367
DeBERTa + KNN,0.760,0.571,0.618,0.692,0.807,0.685,0.541,0.363
DeBERTa + SVC,0.754,0.599,0.682,0.697,0.832,0.651,0.507,0.452

In [10]:
distilbert_df.head()

,0,1,2,3,4,5,6,7
0,0.780847,0.664729,0.627653,0.719824,0.766606,0.644265,0.682009,0.000000
1,0.798764,0.666952,0.653249,0.696723,0.799060,0.684328,0.702514,0.464297
2,0.735731,0.651550,0.678681,0.674013,0.757009,0.669965,0.634882,0.383379
3,0.799052,0.690735,0.702119,0.737227,0.786337,0.691289,0.641650,0.534755
4,0.785186,0.683408,0.700935,0.751528,0.790987,0.739005,0.661381,0.488331

In [11]:
gpt2_df.head()

,0,1,2,3,4,5,6,7
0,0.779713,0.609959,0.689716,0.654848,0.752911,0.599953,0.590234,0.000000
1,0.797847,0.632863,0.697902,0.677526,0.803958,0.642029,0.666055,0.412720
2,0.450192,0.000000,0.000000,0.000000,0.000000,0.000000,0.396054,0.328997
3,0.676648,0.483501,0.709402,0.706025,0.793922,0.645339,0.587432,0.184357
4,0.786108,0.693415,0.693682,0.738013,0.812540,0.694736,0.670412,0.594665

In [12]:
gpt2_features_df.head()

,Prompt-1,Prompt-2,Prompt-3,Prompt-4,Prompt-5,Prompt-6,Prompt-7,Prompt-8
GPT-2 + LR,0.646,0.578,0.495,0.700,0.721,0.709,0.522,0.423
GPT-2 + RF,0.802,0.648,0.707,0.746,0.814,0.703,0.662,0.536
GPT-2 + Adaboost,0.648,0.605,0.604,0.700,0.664,0.609,0.555,0.580
GPT-2 + KNN,0.285,0.308,0.119,0.231,0.384,0.542,0.187,0.215
GPT-2 + SVC,0.090,0.385,0.492,0.483,0.355,0.000,0.145,0.000

In [23]:
distilbert_df.rename(columns = {'0': 'Prompt-1', '1': 'Prompt-2',
                               '2': 'Prompt-3', '3': 'Prompt-4',
                               '4': 'Prompt-5', '5': 'Prompt-6',
                               '6': 'Prompt-7', '7': 'Prompt-8'},
                    index = {0: 'distilBERT + LSTM', 1: 'distilBERT + biLSTM',
                            2: 'distilBERT + CNN', 3: 'distilBERT + LR',
                             4: 'distilBERT + RF', 5: 'distilBERT + Adaboost', 
                             6: 'distilBERT + KNN', 7: 'distilBERT + SVC'},
                    inplace = True)

In [24]:
gpt2_df.rename(columns = {'0': 'Prompt-1', '1': 'Prompt-2',
                               '2': 'Prompt-3', '3': 'Prompt-4',
                               '4': 'Prompt-5', '5': 'Prompt-6',
                               '6': 'Prompt-7', '7': 'Prompt-8'},
                    index = {0: 'GPT-2 + LSTM', 1: 'GPT-2 + biLSTM',
                            2: 'GPT-2 + CNN', 3: 'GPT-2 + LR',
                             4: 'GPT-2 + RF', 5: 'GPT-2 + Adaboost', 
                             6: 'GPT-2 + KNN', 7: 'GPT-2 + SVC'},
                    inplace = True)

In [27]:
gpt2_df

,Prompt-1,Prompt-2,Prompt-3,Prompt-4,Prompt-5,Prompt-6,Prompt-7,Prompt-8
GPT-2 + LSTM,0.779713,0.609959,0.689716,0.654848,0.752911,0.599953,0.590234,0.000000
GPT-2 + biLSTM,0.797847,0.632863,0.697902,0.677526,0.803958,0.642029,0.666055,0.412720
GPT-2 + CNN,0.450192,0.000000,0.000000,0.000000,0.000000,0.000000,0.396054,0.328997
GPT-2 + LR,0.676648,0.483501,0.709402,0.706025,0.793922,0.645339,0.587432,0.184357
GPT-2 + RF,0.786108,0.693415,0.693682,0.738013,0.812540,0.694736,0.670412,0.594665
GPT-2 + Adaboost,0.654312,0.633318,0.616164,0.763569,0.729840,0.650870,0.586835,0.462625
GPT-2 + KNN,0.754755,0.555116,0.597274,0.648462,0.716651,0.572006,0.491607,0.364757
GPT-2 + SVC,0.220930,0.225699,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [26]:
distilbert_df

,Prompt-1,Prompt-2,Prompt-3,Prompt-4,Prompt-5,Prompt-6,Prompt-7,Prompt-8
distilBERT + LSTM,0.780847,0.664729,0.627653,0.719824,0.766606,0.644265,0.682009,0.000000
distilBERT + biLSTM,0.798764,0.666952,0.653249,0.696723,0.799060,0.684328,0.702514,0.464297
distilBERT + CNN,0.735731,0.651550,0.678681,0.674013,0.757009,0.669965,0.634882,0.383379
distilBERT + LR,0.799052,0.690735,0.702119,0.737227,0.786337,0.691289,0.641650,0.534755
distilBERT + RF,0.785186,0.683408,0.700935,0.751528,0.790987,0.739005,0.661381,0.488331
distilBERT + Adaboost,0.647332,0.596704,0.633211,0.702860,0.611906,0.620373,0.478052,0.454796
distilBERT + KNN,0.739289,0.548428,0.515006,0.588296,0.651214,0.590262,0.452459,0.450631
distilBERT + SVC,0.718413,0.607989,0.678103,0.642388,0.652531,0.529617,0.286430,0.000000

In [30]:
df_results_final = pd.concat([bert_features_df, deberta_df, distilbert_df, gpt2_df, gpt2_features_df])

In [31]:
df_results_final.head()

,Prompt-1,Prompt-2,Prompt-3,Prompt-4,Prompt-5,Prompt-6,Prompt-7,Prompt-8
BERT + LR,0.509,0.445,0.368,0.580,0.649,0.641,0.351,0.359
BERT + RF,0.771,0.644,0.711,0.759,0.810,0.744,0.667,0.534
BERT + Adaboost,0.659,0.644,0.649,0.725,0.704,0.609,0.496,0.558
BERT + KNN,0.354,0.281,0.133,0.258,0.372,0.540,0.187,0.213
BERT + SVC,0.318,0.423,0.617,0.528,0.537,0.370,0.381,0.000